// ABOUT DOC
body {
    h1 {
        font-family: 'Contrail One', cursive;
        color: #282828;
        font-size: 150px;
        padding-left: 10%;
        margin-bottom: 20px;
        margin-top: 80px;
        cursor: default;
    }
    .floatRight {
        float: right;
        background: rgba(255, 255, 255, 0.8);
        padding: 40px;
        padding-right: 80px;
        p {
            font-family: 'Roboto Mono', monospace;
            color: #282828;
            font-size: 14px;
            line-height: 1.8em;
        }
    }
}
